{% extends 'food_manager/base.html' %}

{% block content %}
<div id="food-heading">
    <div class="heading-container">
        <div class="page-description">
            食品
        </div>
        <h1>{{ food }}</h1>
        <div class="btn" id="food-name-edit" title="食品名を編集" @click="changeShowEditForm">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
        </div>
        <div class="btn" id="food-trash" title="ごみ箱に移動" @click="openTrashModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h2.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4h3.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </div>
    </div>
    <div v-if="editFormIsActive">
        <form class="edit-form" id="food-name-edit-form" method="POST">{% csrf_token %}
            <h2>食品名を編集</h2>
            {{ name_form.as_p }}
            <button type="submit" name="food-name-edit-btn">保存</button>
        </form>
    </div>  
    <div class="modal-wrapper" v-if="trashModalIsActive">
        <form method="POST">{% csrf_token %}
            <h2>確認</h2>
            <p>この食品をごみ箱に移動しますか?</p>
            <button type="submit" name="food-trash-btn">はい</button>
            <button type="button" id="trash-cancel" @click="closeTrashModal">キャンセル</button>
        </form>
    </div>
</div>
<div class="food-tags">
    <ul>
        {% for tag in food.tags.all %}
        <li><a href="{% url 'food_manager:tag' tag.pk %}">{{ tag }}</a></li>
        {% endfor %}
        <a title="この食品に付けるタグを選択" href="{% url 'food_manager:food_tags' food.pk %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                <path d="M2 1h3.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7h1v4.586z"/>
            </svg>
        </a>
    </ul>
</div>
<form method="POST">{% csrf_token %}
    <div class="topic-container">
        <div class="heading-container">
            <h2>賞味期限</h2>
        </div>        
        {{ date_form }}
        <div class="date-alert">
            {{ date_alert }}
        </div>
    </div>
    <div class="topic-container">
        <div class="heading-container">
            <h2>数量</h2>
        </div>
        {{ quantity_form }}{{ unit_form }}
    </div>
    <div class="topic-container">
        <div class="heading-container">
            <h2>説明</h2>
        </div>
        {{ description_form }}
    </div>
    <button type="submit" name="food-edit-btn">変更を保存</button>
</form>
{% endblock %}