{% extends 'food_manager/base.html' %}

{% block content %}
<div class="heading-container">
    <h1>FoodManager</h1>
</div>
<div class="topic-container">
    <div class="heading-container">
        <h2 class="index-h2">実用性の高い管理方法</h2>
    </div>
    <p>各食品にタグを付けることができ、そのタグをカテゴリごとに分けて管理できます。</p>
</div>
<div class="topic-container">
    <div class="heading-container">
        <h2 class="index-h2">賞味期限切れを管理</h2>
    </div>
    <p>賞味期限が切れている、あるいは賞味期限間近の食品を、まとめて確認できます。</p>
</div>
<div class="topic-container">
    <div class="heading-container">
        <h2 class="index-h2">同期機能を実装予定</h2>
    </div>
    <p>同期実装後は、例えば家族内で利用することで、食べて良いものかなどを各自で確認でき、トラブルの回避に役立てられる予定です。</p>
</div>
{% endblock %}