{% extends 'food_manager/base.html' %}

{% block content %}
<div class="heading-container">
    <h1>ごみ箱</h1>
</div>
<div class="food-list">
    <form method="POST">{% csrf_token %}
    {% if not food_list %}
        <p class="does-not-exist-message">ごみ箱に食品がありません</p>
    {% else %}
    {% for food in food_list %}
        <label><input class="trash-check" type="checkbox" name="food" value="{{ food.pk }}">{{ food }}</label><br>
    {% endfor %}
    {% endif %}
        <button id="food-delete-btn" type="submit" name="delete-btn" disabled>選択した項目を完全に削除</button>
        <button id="food-restore-btn" type="submit" name="restore-btn" disabled>選択した項目を元に戻す</button>
    </form>
</div>
{% endblock %}